/* селектор по тегу */
body{
    /* свойство "цвет фона" */
    background-color: wheat;
}

/*обращение к нескольким тегам
и настройка одного свойства */
header, div, footer{
    /* свойство "граница" */
    border: 2px solid black;
}

div{
    background-color: white;
    color: green;
}

/* селектор по классу */
.content{
    color: silver
}    

.p1{
    color: tomato;
}

.p2{
    color: gray;
}

.block_2{
    /* основные свойства текста */
    font-size: 20px;
    letter-spacing: 5px;
    font-weight: inherit;
    text-align: center;
    text-shadow: lawngreen;
    text-transform: uppercase;
    /* настройка отступов */
    /* внешние отступы */
    margin: 5px 10px 15px 20px;
    /* внутренние отступы */
    padding: 10px;
}